<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="cadastro.component.css">
</head>
<body>
    <div class="container">
        <h1 class="cadastroTitle">Cadastre-se</h1>
        <section>
            <form class="formEndereco" id="cadastro">
                <span class="textDados">Preencha seus dados:</span>
                <div class="nomeCompleto">
                    <input class="inputNome"
                    type="text"
                    id="nome"
                    aria-label="Nome Completo"
                    placeholder="Nome Completo" required>
                </div>
                <div class="telCelular">
                    <input class="inputTel"
                    type="number"
                    id="celular"
                    aria-label="Telefone celular"
                    placeholder="Celular" required>
                </div>
                <div class="dataNascimento">
                    <input class="inputDate"
                    type="datetime"
                    id="nascimento"
                    aria-label="Data de Nascimento"
                    placeholder="Data de Nascimento" required>
                    <script>
                        const inputData = document.getElementById('nascimento');
                        inputData.addEventListener('input', (e) => {
                          const data = e.target.value;
                          const dataFormatada = data.replace(/(\d{2})(\d{2})(\d{4})/, '$1/$2/$3');
                          e.target.value = dataFormatada;
                        });
                    </script>
                </div>
                <div>
                    <input class="inputCEP"
                    type="tel"
                    aria-label="CEP"
                    placeholder="Digite seu CEP">
                </div>
                <div>
                    <input class="inputCidade"
                    type="text"
                    aria-label="cidade"
                    placeholder="Cidade">
                </div>
                <div>
                    <input class="inputUF"
                    type="text"
                    aria-label="UF do endereço"
                    placeholder="UF">
                </div>
                <div>
                    <input class="inputBairro"
                    type="text"
                    aria-label="bairro"
                    placeholder="Bairro">
                </div>
                <div>
                    <input class="inputLog"
                    type="text"
                    aria-label="Logradouro"
                    placeholder="Logradouro">
                </div>
                <div>
                    <input class="inputNumero"
                    type="number"
                    aria-label="número da casa"
                    placeholder="Número">
                </div>
            </form>
            <section class="concluirCad">
                <a 
                class="buttonSubmit" 
                id="submit"
                href="confirmacao.html">
                    Concluir cadastro
                </a>
            </section>
        </section>
    </div>
</body>
</html>